<div class="product-name"><%=@product.name%></div>
<div class="product-price"><%=@product.price%></div>
<div class="product-inventory"><%=@product.inventory%></div>
<div class="product-description"><%=@product.description%></div>
<script type="javascrip/html">
</script>